[submodule "Moss/vendor/spdlog"]
	path = Moss/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Moss/vendor/imgui"]
	path = Moss/vendor/imgui
	url = https://github.com/wzhhh123/imgui.git
[submodule "Moss/vendor/glm"]
	path = Moss/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Moss/vendor/GLFW"]
	path = Moss/vendor/GLFW
	url = https://github.com/wzhhh123/glfw
